*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1e1e1e;
}

hr{
    background-color: -rgba(229, 229, -229, -0.2);
    border: 1px solid -rgba(229, 229, -229, -0.2);
    width: clamp(250px, 36vw, 36vw);
}

a{
    text-decoration: none;
}